/* колір основного тексту #21212 */
/* другорядний колір тексту* #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* другорядний фон #2F303A */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
footer {
  background-color: #2f303a;
}

=====================
/* Header */
=====================
.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.colorlogo {
  color: var(--accent-color);
}

.site-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}
.connection-nav a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.connection-nav a:hover,
.connection-nav a:focus {
  color: var(--accent-color);
}

====================
    /* Main */
====================
/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Section */
.section-team {
  background-color: #f5f4fa;
}
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.section-title .feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
}

.feature-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.tc-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* button */
.button {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

===================
/* Footer */
===================

.footer-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-connection a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-connection a:hover,
.footer-connection a:focus {
  color: var(--accent-color);
}
.footer-logo {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.colorlogo {
  color: var(--accent-color);
}


///////////////////
/* portfolio */
//////////////////


.filtres {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filtres:hover,
.filtres:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}
.project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.portfolio {
  text-decoration: none;
}
